body{
    background-color: rgba(0, 234, 255, 0.781);
}
@font-face {
    font-family: "racing";
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}
 a {
  
    color: rgba(37, 35, 33, 0.699);
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
 }
 
 h2{

     font-size: 75px;
     text-align: center;
     color: rgb(0, 0, 0);
 }

 h3{

    font-size: 50px;
    text-align: left;
    color: rgb(206, 0, 196);
}
td{
    font-size: 60px;
}

#results{
    font-size: 60px;
}

.button{
    font-size:30px;
    font-weight: 700;
}

.textarea{
    font-size: 50px;
}

.hoverani{
    display: inline-block;
    position:relative;
    color: #000000c7;
  }
.hoverani:after{
    content: '';
  position: absolute;
  width: 85%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color:#ce6300;
  transition:0.20s ease-in-out;
}

.hoverani:hover:after{
    transform: scaleX(1);
}
