body{
    background-color: rgba(255, 2, 238, 0.46);
}
@font-face {
    font-family: "racing";
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}

a {
color: rgba(86, 164, 115, 0.699);
text-decoration: none;
font-size: 50px;
margin: 10px;
font-family: "racing";
}

a:hover{
    color:rgb(2, 245, 46);
    padding-left: 10px;
    transition:0.20s ease-in-out;
     }

 h2{
     font-size: 200px;
     text-align: center;
     font-family: "racing";
     color: rgb(203, 248, 4);
 }
 .hoverani{
    display: inline-block;
    position:relative;
    color: #000000c7;
  }
.hoverani:after{
    content: '';
  position: absolute;
  width: 85%;
  transform: scaleX(0);
  height: 6px;
  bottom: 0;
  left: 0;
  background-color:#ce6300;
  transition:0.20s ease-in-out;
}

.hoverani:hover:after{
    transform: scaleX(1);
}

.White {
    background-color: rgb(126, 108, 49);
}

.Yellow {
    background-color: rgb(50, 92, 47);
}

.Pink {
    background-color: rgb(108, 164, 213);
}

.serif {
    font-family: serif;
}

.sansSerif {
    font-family: sans-serif;
}

.racing {
    font-family: "racing";
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}

.cambria {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

.Italic {
    font-style: italic;
}

.Bold {
    font-weight: bold;
}

.Underline {
    text-decoration: underline;
}
#paragraph{
    max-width: 50%;
}
.hide {
    display: none;
}